.navbar-fixed-top {
    min-height: 130px;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 150px;
}

@media (min-width: 768px) {
    .navbar-fixed-top .navbar-collapse {
        max-height: 100px;
    }
}

body{
    background-color: rgb(28, 28, 32);
}

.search-area{
    margin-left:20%;
    margin-top:170px;
    margin-right:20%;
}

.text-area{
    background-color: white;
    margin-top: 30px;
    min-height: 420px;
    margin-left: 9%;
    margin-right: 9%;
}

.about
{
    margin-top:240px;
    min-height: 440px;
    padding-top: 10px;
    padding-left: 90px;
    padding-right: 90px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 28px;
}

.about-header{
    font-size: 48px;
    text-decoration: underline;
    font-weight: 100;
}

.about-contact{
    text-align: left;
}

.about-contact2{
    text-align: left;
    font-size: 22px;
}

.choice-box{
    background-color: blue;
    color: brown;
    min-height: 120px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    width: 38%;
}